* {
  box-sizing: border-box;
}
.container {  
  max-width: 1158px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 120px 15px;
}
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
}
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding:0;
}
.logo-text-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  color: #2e2f42;
  margin-right: 76px;
}
header .container{
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  flex-direction: row;
  padding: 24px 0;
}
nav ul {
  display: flex;
  margin-left: 76px;
  gap: 40px;
}

address {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
p {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.order-service-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px; 
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #ffffff;
  margin: 48px 0 0 0;
  border-radius: 4px;
}
.order-service-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.navbar a {
  color: #2e2f42;
}
.navbar a:hover {
  color: #404bbf;
}
.navbar a:active {
  color: #4d5ae5;
}
.address a {
  color: #2e2f42;
  
}
.address a:hover {
  color: #404bbf;
}
.address a:active {
  color: #4d5ae5;
}

.section-1 {
  background-color: #2e2f42;
  padding: 188px 0px;
}
.section-1 h1 {
  color: #ffffff;
  width: 550px;
}
.section-2{
  align-items: center;
  justify-content: center;
  display: flex;
}
.section-2 ul {
  display: flex;
  gap: 24px;  
}
.section-3 {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3 ul {
  display: flex;
  gap: 24px;;
}
.section-3 li{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin-top: 72px;
  }

.team-list-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 24px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top:72px;
}
.portfolio-list-item {
  padding-bottom: 24px;
  flex-basis: calc((100% - 24px)/3);
  border: 1px solid #E7E9FC;
}
.portfolio-list-item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;
}
.footer{
  background-color: #2e2f42;
  height: 312px;
}

.footer .container {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
  
}

.logo-text-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  color: #f4f4fd;
}
.footer p {
  color: #f4f4fd;
  margin-top: 16px;
  width: 262px;
  height: 112px;
  
}

a {
  text-decoration: none;
}
li {
  list-style-type: none; ;
}
